
@model Product
@using (Html.BeginForm("List","Urun",method:FormMethod.Post))
  {     
       
         
       
           <div class="form-group">
                <label asp-for="ProductName" class="control-label">Ürün Adı</label>
                <input asp-for="ProductName" class="form-control" />
               
            </div>
        
      <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Kategori Adı</label>
                @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.kategoriler,new {@class="form-control"})
               
            </div>
        
           <div class="form-group">
                <label asp-for="SupplierId" class="control-label">Birim fiyatı</label>
               @Html.DropDownList("SupplierId", (IEnumerable<SelectListItem>)ViewBag.tedarikciler,new {@class="form-control"})
               
            </div>
 <div>
        <button type="submit">Ara</button>
    </div>

 

          
   }

   




Tablo yapilacak
@foreach (var item in ViewBag.Products)
   {
     @item.ProductName<br>
                
   }
          
